# Ignore arquivos de dados e configurações locais
data/
*.csv
*.xlsx
*.json
*.pkl

# Ignore arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Ignore arquivos do sistema operacional
.DS_Store
Thumbs.db
